<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API TEST</title>
</head>
<body>
    <input id="btn01" class="form-control" type="button" name="Click Me" placeholder="Click Me">
    <div>
        {{a}}
    </div>
</body>

<style>
*{
    margin: 0;
    padding: 0;
}

#btn01 {
    height: 100px;
    width: 200px;
}
</style>
    
<script>
    var a = 1;
    document.getElementById('btn01').render(a);
</script>
</html>