<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eCharts</title>
    <script src="../public/javascripts/echarts.min.js"></script>
    <script src="../public/javascripts/china.js"></script>
</head>

<body>
    <div id="charts" style="width:1200px; height:800px"></div>
</body>
<script>
    var theChart = echarts.init(document.getElementById('charts'))



    theChart.setOption(option);
</script>

</html>