<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <!-- <script src="../public/javascripts/jquery.min.js"></script> -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- <script src="../public/javascripts/axios.min.js"></script> -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <title>用户编辑</title>
</head>

<body>
  <div id="app">
    <!-- <div v-for="item in model"></div> -->
    <el-card class="box-card" style="width: 40rem; margin:0 auto">
      <div slot="header" class="clearfix">
        <h1>用户{{(!urlProp?'新建':'修改')}}</h1>
      </div>
      <el-form v-if="userInfo" :model="userInfo" ref="userInfo" label-width="100px">
        <el-form-item label="角色名">
          <el-input v-model="userInfo.userName" style="width: 20rem;"></el-input>
        </el-form-item>
        <el-form-item label="密码">
          <el-input v-model="userInfo.passWord" style="width: 20rem;" show-password></el-input>
        </el-form-item>
        <el-form-item label="电话号码">
          <el-input v-model="userInfo.tips" style="width: 20rem;"></el-input>
        </el-form-item>
        <el-form-item label="角色选择">
          <el-select v-model="userInfo.role" placeholder="请选择">
            <el-option v-for="item in roles" :label="item.roleName" :value="item._id" :key="item._id"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="confirm">{{(!urlProp?'新建':'修改')}}</el-button>
          <el-button @click="javascrtpt:window.location.href='http://39.99.213.143:8888/user/list'">取消</el-button>
        </el-form-item>
      </el-form>

    </el-card>
</body>

<script>
  var vm = new Vue({
    el: "#app",
    data() {
      return {
        model: [],
        roles: [],
        urlProp: new String,
        area: new String(),
        userInfo: {
          userName: '',
          tips: '',
          passWord: '',
          user: [],
          role: ''
        }
      }
    },
    methods: {
      async confirm() {
        if (!this.urlProp) {
          if (this.userInfo.userName && this.userInfo.passWord) {
            var res = await axios.post('http://39.99.213.143:8888/api/user/create', this.userInfo)
            this.$message('新建成功！');
          } else {
            this.$message('请完整填写内容！');
            return;
          }
        } else {
          var res = await axios.put(`http://39.99.213.143:8888/api/user/${this.urlProp}`, this.userInfo)
          this.$message('修改成功！');
        }
        window.location.href = 'http://39.99.213.143:8888/user/list';
      },
      getId() {
        var url = window.location.href;
        var data = url.split('?')
        if (data[1]) {
          this.urlProp = data[1]
        } else {
          this.urlProp = null
        }
      },
      fetch(id) {
        axios.get(`http://39.99.213.143:8888/api/user/${id}`)
          .then((res) => {
            this.userInfo = res.data
          })
          .catch((err) => {
            console.log(err)
          })
      },
      async fetchRole() {
        const res = await axios.get('http://39.99.213.143:8888/api/role')
        this.roles = res.data
      },
    },
    created() {
      this.fetchRole()
      this.getId()
      this.urlProp && this.fetch(this.urlProp)
    },
  });
</script>

</html>