body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body,
html {
  position: relative;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
}

div,
p,
ul,
li {
  padding: 0;
}


#allmap {
  float: left;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: "微软雅黑";
}

table {
  width: 120px;
  color: #effffb;
  font-size: 13px;
  text-align: center;
  width: 100px;
  background-color: #333333;
}

.angle {
  display: inline-block;
  width: 0px;
  height: 0px;
  position: absolute;
  border: 14px solid;
  left: 50%;
  bottom: 40px;
  opacity: 1;
  border-color: #333333 transparent transparent transparent;
  transform: rotate(180deg);
}

.anchorBL {

  display: none;

}

#toolbar {
  position: fixed;
  z-index: 99999;
  width: 90%;
  top: 70;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(255, 255, 255, .25);
  box-shadow: rgba(0, 0, 0, .2) 0 0 10px;
  color: #00bdaa;
  backdrop-filter: blur(10px);
  border-radius: 30px;
  padding: 5px 0;
}

#select01 {
  display: inline-block;
  width: 200px;
  height: 30px;
  position: relative;
  vertical-align: middle;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  color: #080808;
  border: 2px solid #00bdaa;
  border-radius: 5px;
  text-shadow: none;
  transition: box-shadow 0.25s ease;
  z-index: 2;
}

#select01:hover {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}


/* #select01:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #ccc;
  top: 14px;
  right: 10px;
  cursor: pointer;
  z-index: -2;
} */

#select01 select {
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#select01 select:focus {
  outline: none;
}

#button-addon2 {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 30px;
  border: 2px solid #00bdaa;
  border-radius: 5px;
  background: none;
  color: #00bdaa;
}

.nav-top {
  position: fixed;
  z-index: 99999;
  padding: 2px;
  width: 90%;
  top: 10;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(255, 255, 255, .25);
  box-shadow: rgba(0, 0, 0, .2) 0 0 10px;
  color: #00bdaa;
  backdrop-filter: blur(10px);
  border-radius: 30px;
}

.nav-top h2 {
  margin: 0;
  padding: 0;
}

table {
  width: 180px;
  text-align: center;
  background-color: rgba(255, 255, 255, .25);
  box-shadow: rgba(0, 0, 0, .2) 0 0 10px;
  color: #00bdaa;
  backdrop-filter: blur(10px);
  border-radius: 3px;
}